/*font-family: 'Aboreto', cursive;
font-family: 'Noto Sans JP', sans-serif;*/
:root {
  --branding-color: #131315;
  --secondary-color: #d6d6da;
  --heading-font-family: "Aboreto", cursive;
  --defauil-font-family: "Noto Sans JP", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h2 {
  font-size: 64px;
}
p {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h1 {
  font-size: 96px;
  margin-top: 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.hero h2 {
  font-family: var(--defauil-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--defauil-font-family);
}
.content {
  padding: 160px 20px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
}
.content-container {
  margin: 30px;
}
.content p {
  font-size: 14px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
.work-page {
  font-family: var(--default-font-family);
}
.logo {
  max-height: 100px;
}
nav {
  padding: 10px 0;
}
nav ul {
  padding: 0;
  margin: 25px 0px 0px 0px;
}
nav li {
  display: inline;
  list-style: none;
  font-family: var(--defauil-font-family);
  font-size: 20px;
  line-height: 35px;
  margin-left: 25px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: black;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  nav a {
    font-size: 14px;
    margin: 5px;
  }
  .logo {
    max-height: 80px;
  }
  .hero h1 {
    font-size: 66px;
  }
  .text-muted {
    font-size: 12px;
  }
  nav li {
    margin-left: 15px;
  }
}
